:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  height: 50px;
  display: flex;
  justify-content: space-between;

  mat-icon.mat-icon {
    cursor: pointer;
  }
}

footer {
  background-color: #3f51b5;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

#app-content {
  display: flex;
  flex: 1 1 auto;
  padding: 20px;
}