:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  height: 50px;

  mat-icon.mat-icon {
    cursor: pointer;
  }
}

footer {
  background-color: #3f51b5;
}

footer {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.spacer {
  flex: 1 1 auto;
}

#app-content {
  min-height: calc(100vh - 80px);
}