<div id="auth-content">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline">
      <mat-label>Benutzername</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" formControlName="passwort" autocomplete="false">
    </mat-form-field>


    <div id="buttons">
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Anmelden</button>
    </div>
  </form>
</div>